<section class="center">
    <app-agregar-tareas style="background-color: aliceblue" [agregarTareasRecibidas]="tareas"></app-agregar-tareas>
</section>
<section>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Tarea</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for(tarea of tareas; track $index){
            <tr>
                <td>{{ contador + $index }}</td>
                <td [class.completada]="tareaCompletada[$index]">
                    <span>{{ tarea }}</span>
                </td>
                <td>
                    <button class="estado" (click)="cambiarEstado($index)">
            @if(tareaCompletada){
            <p>realizado</p>
            } @else {pendiente}
          </button>
                </td>
                <td class="dell">
                    <app-eliminar-tarea [eliminarTareasRecibida]="tareas" [recibirIndex]="$index"></app-eliminar-tarea>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>